/**********
GENRAL CSS
**********/
body {
  padding: 0;
  margin: 0; 
  color: #111;
  background-color: rgba(225,225,225,.9);
}
a:hover {
  text-decoration: none;
}
img {
  max-height: 400px;
  width: 100%;
  margin: 5px 0;
}
p {
  margin: 5px;
}
h3 {
  text-align: center;
  line-height: 300%;
}
ul {
  margin: 75px auto 0;
}
li {
  list-style-type: none;
}
nav {
  background-color: rgba( 135, 206, 250, .7);
  background-image: url(http://media.newjobs.com/homepage/images/hero-img/bg_purple_5.jpg);
  background-position: -100px cover;
  padding: 25px; 
  box-shadow: 0px 0px 10px gray;
}
nav ul li {
  display: inline;
  list-style-type: none;
  padding: 10px;
  margin: -5px; 
  border-radius: 10px;
}
/*REMOVES BLUE BOX AROUND BUTTONS*/
button:focus {outline:0;}


/**********
GENRAL CLASSES
**********/
.label {
  font-size: 1em;
  padding: 4px;
}
.applicantImg {
  float: left;
  height: 100px;
}
.viewApplicants {
  font-size: 1em;
}
.logo {
  width: 150px;
  float: left;
}
.hide {
  display: none;
}
.clear {
  clear: both;
}


/**********
ANIMATION
**********/
.sample-show-hide {
  -webkit-transition:all linear 1s;
  transition:all linear 1s;
}
.sample-show-hide.ng-hide {
  opacity:0;
}


/**********
MAIN SECTION
**********/
.panel-order .row {
  border-bottom: 1px solid #ccc;
  background-color: rgba(116, 65, 100, .3);
  box-shadow: 0px 0px 10px 2px rgba(220,220,220,.9);
  border: 2px outset silver;
  margin-top: 5px;
}
.panel-order .row:last-child {
    border: 0px;
}
.panel-order .row .col-md-1 {
    text-align: center;
    padding-top: 15px;
}
.panel-order .row .col-md-1 img {
    max-width: 75px;
    max-height: 90px;
}
.panel-order .row .row {
    border-bottom: 0;
}
.panel-order .row .col-md-11 {
    border-left: 1px solid #ccc;
}
.panel-order .row .row .col-md-12 {
    padding-top: 7px;
    padding-bottom: 7px;
}
.panel-order .row .row .col-md-12:last-child {
    font-size: 11px;
    color: #555;
    background: rgba(225,225,225,.9);
}
.panel-order .btn-group {
    margin: 0px;
    padding: 0px;
}
.panel-order .panel-body {
    padding-top: 0px;
    padding-bottom: 0px;
}
.panel-order .panel-deading {
    margin-bottom: 0;
}


/**********
LOGGIN
**********/
.signIn {
  padding-bottom: 50px;
  width: 500px;
  background-color: rgba(116, 65, 100, .3);
  color: #444;
  margin: 5% auto;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 10px #31b0d5;
}
.login {
  float: right;
  margin-right: 25px;
}
.signUp {
  padding-top: 10px;
}
.password {
  margin-bottom: 20px;  
}
.signUpLink {
  color: #31B0D5;
}
.logout {
  margin-left: 120px;
}
.main {
  max-width: 320px;
  margin: 0 auto;
}
.login-or {
  position: relative;
  font-size: 18px;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: #fff;
  width: 50px;
  text-align: center;
}
.hr-or {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}


/***********************
  FILTER BUTTONS
************************/
.red {
  background-color: white;
  padding: 13px;
  border-radius: 100%;
  border: outset 1px silver;
  box-shadow: inset 0px 0px 19px 5px red;
}
.red:hover {
  background-color: red;
  box-shadow: inset 0px 0px 6px white;
}
.yellow {
  background-color: white;
  padding: 13px;
  border-radius: 100%;
  border: outset 1px silver;
  box-shadow: inset 0px 0px 19px 5px #ec971f;
}
.yellow:hover {
  background-color: #ec971f;
  box-shadow: inset 0px 0px 6px white;
}
.green {
  background-color: white;
  padding: 13px;
  border-radius: 100%;
  border: outset 1px silver;
  box-shadow: inset 0px 0px 19px 5px green;
}
.green:hover {
  background-color: green;
  box-shadow: inset 0px 0px 6px white;
}


/***********************
  GLASSDOOR 
************************/
.glassdoor {
  float: right;
}
.glassdoor img {
  width: 100px;
}


/***********************
  BUTTONS
************************/
.btn-default {
    box-shadow: 0 3px 0 0 silver;
}
.btn-default:active, .btn-default.active {
    background: #33a6cc;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}
.btn-primary {
    box-shadow: 0 3px 0 0 #007299;
}
.btn-primary:active, .btn-primary.active {
    background: #33a6cc;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}
.btn-info {
    box-shadow: 0 3px 0 0 #007299;
}
.btn-info:active, .btn-info.active {
    background: #33a6cc;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}
.btn-warning {
    box-shadow: 0 3px 0 0 #d88a1c;
}
.btn-warning:active, .btn-warning.active {
    background: #33a6cc;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}
.btn-danger {
    box-shadow: 0 3px 0 0 #b72826;
}
.btn-danger:active, .btn-danger.active {
    background: #33a6cc;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}
.btn-success {
    box-shadow: 0 3px 0 0 #3f913f;
}
.btn-success:active, .btn-success.active {
    background: #33a6cc;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}