<nav>
  <a href="/#/"><img class="logo" src="http://www.amper-usa.com/sites/amper-usa.com/files/newave-logo_0.gif" alt=""></a>
  <div class="row ">
    <ul>
      <li>
        <div class="col-xs-3">
          <input class="form-control" type="text" placeholder="Search Job Title" ng-model="job.jobTitle">
        </div>
        <div class="col-xs-3">
          <input class="form-control" type="text" placeholder="Search City" ng-model="job.location">
        </div>
        <button ng-click="search()" class="btn btn-default">
          <span class="glyphicon glyphicon-search"></span> Search
        </button>
      </li>
    
      <li class="login">
        <div class="btn-group">
          <a href="/#/"><button type="button" class="btn btn-default" ng-click="logoutUser()">Logout
          </button></a> 
        </div>      
      </li>        
    </ul>
 </div>   
</nav>

<div class="container" style="padding-top: 30px;">
  <div>        
    <a href="/#/manageApplicantProfile">Edit Profile</a>      
    <a href="/#/appliedJobs">| View Applied Jobs</a>      
  </div>
  <div class="panel panel-default panel-order">
    <div class="panel-heading">
      <strong>{{job.jobTitle}} Jobs</strong>    
    </div>
    <div class="panel-body">
      <uib-alert close="closeAlert()" ng-if="alert" 
      dismiss-on-timeout="3000" type="success">Your application and interview have been sent.</uib-alert>
      <div ng-repeat="job in allJobs | filter:job" class="row">
        <div class="col-md-1"><img ng-src="//logo.clearbit.com/{{job.updatedCompany}}.com" class="media-object"></div>
        <div class="col-md-11">
          <div class="row">
            <div class="col-md-12">              
               <button ng-click="showDescription = !showDescription; createAudioSection()" class="btn btn-info pull-right"><span>Details</span></button>
              <span><strong>{{job.jobTitle}}</strong></span>
              <br>
              <p>{{job.companyName}}</p>
              <p>{{job.location}}</p>
              <div ng-if="showDescription">
                <p ng-bind-html="job.description"><strong>Description:</strong> {{job.description}}</p>
                <br>
                <button ng-show="job.$$hashKey" ng-click="job.$$hashKey = !job.$$hashKey" class="btn btn-success"><span>Apply</span></button>
                <br>
                <div class="check-element sample-show-hide" ng-show="!job.$$hashKey">
                  <p>In order to apply for this job you must answer a series of questions in a recorded interview. Please start recording when you're ready to begin. <strong>BE AWARE</strong> you only get one chance at this recording.</p> 
                  <br>
                  <h5>{{job.questionOne}}</h5>
                  <h5>{{job.questionTwo}}</h5>
                  <br>
                  <!-- AUDIO -->
                  <div class="wrapper">
                    <section class="main-controls">
                      <div id="buttons">
                        <div ng-hide="record">
                         <button class="btn btn-primary" ng-click="startRecord(); record = !record">Start Recording</button>
                        </div> 
                        <div ng-show="record">
                          <button ng-show="stopRecord" class="btn btn-danger" ng-click="stopRecord(); stopRecord = !stopRecord">Stop Recording</button>
                        </div>  
                      </div>
                    </section>
                  </div>                   
                  <div ng-show="application" ng-hide="stopRecord">  
                    <button ng-show="!application" ng-click="applicantApply(job.id); createAudioSection(); application = !application" class="btn btn-success"><span>Apply</span></button>
                  </div>  
                  <div ng-show="application">
                    <p>Great job on riding a Newave of success! Your application and interview have been sent to {{job.companyName}}. Thank you.</p>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-md-12">
              {{job.datePosted}} 
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <ul class="pagination">
        <li class="active"><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>
  </div>
  <div class="glassdoor">
    <a href='https://www.glassdoor.com/index.htm' target='_blank'>powered by <img src='https://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /></a>
  </div>
</div>