<div class="container" style="padding-top: 60px;">
  <h1 class="page-header">Update Profile</h1>
  <!-- left column -->
  <div ng-repeat="profile in profiles track by $index" class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">
        <img ng-src="{{profile.image}}" alt="">

        <canvas id="canvas" width="5" height="5"></canvas>
        <fieldset class="ng-binding">
          <input type="file" ngf-select="" ng-model="picFile" name="file" ngf-accept="'image/*'" required="">
          <i ng-show="myForm.file.$error.required">*required</i>
          <br>
          <button ng-click="showAvatar = true; uploadPic(picFile)">Submit</button>
          <span class="progress" ng-show="picFile.progress >= 0">
              <div style="width:{{picFile.progress}}%" ng-bind="picFile.progress + '%'" class="ng-binding"></div>
          </span>
          <span ng-show="picFile.result">Upload Successful</span>
        </fieldset>
      </div>
    </div>
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      <div class="alert alert-info alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">×</a> 
        <i class="fa fa-coffee"></i>
        Fields marked with an astrix* are required.
      </div>
      <form class="form-horizontal" role="form">
        <h3>Personal info</h3>
        <div ng-hide="showPersonal">
          <div class="form-group">
            <label class="col-lg-3 control-label">First name*:</label>
            <div class="col-lg-8">
              <input autofocus class="form-control" type="text" ng-model="profile.firstName" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last name*:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" ng-model="profile.lastName" required>
            </div>
          </div>      
          <div class="form-group">
            <label class="col-lg-3 control-label">Email*:</label>
            <div class="col-lg-8">
              <input class="form-control"  type="text" ng-model="profile.email" required>
            </div>
          </div>  
          <div class="form-group">
            <label class="col-lg-3 control-label">Phone Number*:</label>
            <div class="col-lg-8">
              <input class="form-control"  type="text" ng-model="profile.number" required>
            </div>
          </div>   			
          <div class="form-group">
            <label class="col-md-3 control-label">Password*:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" ng-model="profile.password"required>
            </div>
          </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Confirm password*:</label>
          <div class="col-md-8">
            <input class="form-control" type="password" ng-model="profile.passwordConfirm" required>
          </div>
        </div>
      </div>  
      
      <!-- Employement Info -->
      <div  ng-show="showExp">
      	<h3>Experience info</h3>
				<div class="form-group">
          <label class="col-lg-3 control-label">Current Employer</label>
          <div class="col-lg-8">
            <input autofocus class="form-control" type="text" ng-model="profile.currentEmpl">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Job Title</label>
          <div class="col-lg-8">
            <input  class="form-control" type="text" ng-model="profile.jobTitle">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Location</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" ng-model="profile.currentJobLocation">
          </div>
        </div>
      </div>

      <!-- Education Info -->
      <div ng-show="showEdu">
      	<h3>Education info</h3>     
	      <div class="form-group">      	
	        <label class="col-lg-3 control-label">Level of Education</label>
	        <div class="col-lg-8">
	          <div class="ui-select">
              <select class="form-control" ng-model="user.education">  
                <option value="">---Please select---</option> 
                <option value="High School">High School</option>
                <option value="Bachelor Degree">Bachelor Degree</option>
                <option value="Master Degree">Master Degree</option>
                <option value="Doctorate Degree">Doctorate Degree</option>
                <option value="Professional Degree">Professional Degree</option>
            </select>      
              </div>          
	        </div> 	        
	      </div>
	      <div class="form-group">
          <label class="col-lg-3 control-label">School Attended</label>
          <div class="col-lg-8">
            <input autofocus class="form-control" type="text" ng-model="profile.school">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Concentration</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" ng-model="profile.concentration">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Location</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" ng-model="profile.schoolLocation">
          </div>
        </div>
      </div>
      <div class="text-center">
        <a ng-click="showPersonal = !showPersonal"><button class="btn btn-info">Personal Info</button></a> 
        <a ng-click="showExp = !showExp"><button class="btn btn-info">Experience</button></a> 
        <a ng-click="showEdu = !showEdu"><button class="btn btn-info">Education</button></a> 
      </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input class="btn btn-primary" value="Update Profile" type="button" ng-click="updateProfile(profile)">
            <span></span>
            <a href="#/applicant"><input class="btn btn-default" value="Cancel"></a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>