<nav>
  <a href="/#/"><img class="logo" src="http://www.amper-usa.com/sites/amper-usa.com/files/newave-logo_0.gif" alt=""></a>
  <div class="row ">
    <ul>
      <li>
        <div class="col-xs-3">
          <input class="form-control" type="text" placeholder="Search Job Title" ng-model="job.jobTitle">
        </div>
        <div class="col-xs-3">
          <input class="form-control" type="text" placeholder="Search City" ng-model="job.location">
        </div>
        <button ng-click="search()" class="btn btn-default">
          <span class="glyphicon glyphicon-search"></span> Search
        </button>
      </li>
    
      <li class="login" ng-hide="displayLogin">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Login <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li ng-click="userToggle('employer')">
              <a  href="/#/employerLogin">Employer Login</a>
            </li>
            <li ng-click="userToggle('applicant')">
              <a  href="/#/applicantLogin">User Login</a>
            </li>        
          </ul>
        </div>
      </li>  
      <li ng-show="displayLogin" class="login">
        <div class="btn-group">
          <a href="/#/"><button type="button" class="btn btn-default" ng-click="logoutUser()">Logout
          </button></a> 
        </div>      
      </li>       
    </ul>
 </div>  
</nav>
<button ng-click="glassdoorButton()">Glassdoor</button>
<div class="container" style="padding-top: 30px;">
  <div class="panel panel-default panel-order">
    <div class="panel-heading">
      <strong>Available Jobs</strong>      
    </div>
    <div class="panel-body">
      <div ng-repeat="job in allJobs | filter:job" class="row">
        <div class="col-md-1"><img src="https://avatars3.githubusercontent.com/u/2388224?v=3&s=200" class="media-object"></div>
        <div class="col-md-11">
          <div class="row">
            <div class="col-md-12">              
              <span><strong>{{job.jobTitle}}</strong></span>
              <!-- <span class="label label-info pull-right">Add to Fav</span>  -->
              <br>
              <button class="label label-info pull-right" ng-click="showDescription = !showDescription"><span>Details</span></button>
              <span>{{job.companyName}}</span>
              <br>
              <span>{{job.location}}</span>
              <br>
              <div ng-if="showDescription">
                <div ng-bind-html="job.description">{{job.description}}</div>
                <br>
                <a href="/#/applicantLogin"><button class="label label-danger"><span>Apply</span></button></a>
              </div>
            </div>
            <div class="col-md-12">
              {{job.datePosted}} 
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <ul class="pagination">
        <li class="active"><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>
  </div>
</div>