<div class="container" style="padding-top: 30px;">
      <div>
        <a href="/#/newPost">Post Job</a>
        <a href="/#/manageProfile">| Edit Profile</a>      
        <a href="/#/managePost/:postID">| Manage Posts</a>      
      </div>
  <div class="panel panel-default panel-order">
    <div class="panel-heading">
      <strong>NET Developer Jobs in Nashville, TN </strong>      
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-1"><img src="https://avatars3.githubusercontent.com/u/2388224?v=3&s=200" class="media-object"></div>
        <div class="col-md-11">
          <div class="row">
            <div class="col-md-12">              
              <span><strong>Job Title</strong></span>
              <!-- <span class="label label-info pull-right">Add to Fav</span> -->
              <span class="label label-info pull-right">Apply</span>
              <br>
              <span>Company Name</span>
              <br>
              <span>Location</span>
            </div>
            <div class="col-md-12">
              Posted on: 05/30/2014 
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <ul class="pagination">
        <li class="active"><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>
  </div>
</div>