<nav>
  <a href="/#/"><img class="logo" src="http://www.amper-usa.com/sites/amper-usa.com/files/newave-logo_0.gif" alt=""></a>
  <div class="row ">
    <ul>
      <li>
        <div class="col-xs-3">
          <input class="form-control" type="text" placeholder="Search Job Title" ng-model="job.jobTitle">
        </div>
        <div class="col-xs-3">
          <input class="form-control" type="text" placeholder="Search City" ng-model="job.location">
        </div>
        <button ng-click="search()" class="btn btn-default">
          <span class="glyphicon glyphicon-search"></span> Search
        </button>
      </li>
    
      <li class="login">
        <div class="btn-group">
          <a href="/#/"><button type="button" class="btn btn-default" ng-click="logoutUser()">Logout
          </button></a> 
        </div>      
      </li>        
    </ul>
 </div>   
</nav>
<div class="container" style="padding-top: 30px;">
      <div> 
        <!--  <button ng-click="search()"></button> -->
        <a href="/#/newPost">Post Job</a>
        <a href="/#/manageProfile">| Edit Profile</a>
      </div>
  <div class="panel panel-default panel-order">
    <div class="panel-heading">
      <strong>Current Job Postings</strong>
    </div>
    <div class="panel-body" ng-repeat="job in jobs | filter:job track by $index">
      <div class="row">       
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">              
              <span><strong>{{job.jobTitle}}</strong></span>
              <br>
              <span>{{job.location}}</span>
              <br>
              <p><strong>Description:</strong> {{job.description}}</p>
              <a href="/#/manageApplicant/{{job.id}}" ng-click="viewJobApplicant()"><button class="viewApplicants label label-info pull-right">View Applicants</button></a>
              <br>
              <a href="/#/editPost/{{job.id}}"><button class="label label-info">Edit Details</button></a>
              
              <button ng-click="deletePost(job.id)" class="label label-danger">Remove Post</button>              
            </div>
            <div class="col-md-12">
              Posted on: {{job.datePosted}} 
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <ul class="pagination">
        <li class="active"><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>
  </div>
</div>