<div class="container" style="padding-top: 60px;">
    <h1 class="page-header">Edit Business Profile</h1>
    <div class="row">
      <!-- left column -->
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="text-center">
          <img src="http://www.clker.com/cliparts/a/a/4/b/12344034822077289736buggi_build.svg.hi.png" alt="avatar">
          <h6>Upload a Company photo...</h6>
          <input type="file" class="text-center center-block well well-sm">
        </div>
        <div class="text-center">
          <a ng-click="showAdmin = !showAdmin"><button class="btn btn-info">Admin Info</button></a> 
          <a ng-click="showExp = !showExp"><button class="btn btn-info">Company Info</button></a>         
        </div>
      </div>
      <!-- edit form column -->
      <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
        <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <i class="fa fa-coffee"></i>
          Fields marked with an astrix* are required.
        </div>
      <div ng-hide="showAdmin">
        <h3>Admin info</h3>
        <form ng-repeat="profile in profiles track by $index" class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-lg-3 control-label">First name*:</label>
            <div class="col-lg-8">
              <input autofocus class="form-control" type="text" ng-model="profile.firstName" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last name*:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" ng-model="profile.lastName" required>
            </div>
          </div>      
          <div class="form-group">
            <label class="col-lg-3 control-label">Email*:</label>
            <div class="col-lg-8">
              <input class="form-control"  type="text" ng-model="profile.email" required>
            </div>
          </div>          

          <div class="form-group">
            <label class="col-md-3 control-label">Password*:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" ng-model="profile.password"required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Confirm password*:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" ng-model="profile.passwordConfirm" required>
            </div>
          </div>
          
        
          <!-- Company Info -->
          <div  ng-show="showExp">
            <h3>Company info</h3>
            <div class="form-group">
              <label class="col-lg-3 control-label">Company Name</label>
              <div class="col-lg-8">
                <input class="form-control" type="text" ng-model="profile.name">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Company Description</label>
              <div class="col-lg-8">
                <textarea class="form-control" type="text" ng-model="profile.description"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Location/HQ</label>
              <div class="col-lg-8">
                <input class="form-control" type="text" ng-model="profile.location">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input class="btn btn-primary" value="Save Changes" type="button" ng-click="getProfile()">
              <span></span>
              <a href="#/employer"><input class="btn btn-default" value="Cancel"></a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>