<nav>
  <div class="row ">
    <ul>
      <li>
        <div class="col-xs-3">
          <input class="form-control" type="text" placeholder="Search Job Title">
        </div>
        <button ng-click="search()" class="btn btn-default">
          <span class="glyphicon glyphicon-search"></span> Search
        </button>
      </li>
    
      <!-- LOGIN -->
      <li class="loginButton" ng-hide="displayLogin">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Login <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li ng-click="userToggle('employer')">
              <a  href="/#/employerLogin">Employer Login</a>
            </li>
            <li ng-click="userToggle('applicant')">
              <a  href="/#/applicantLogin">User Login</a>
            </li>        
          </ul>
        </div>
      </li>  
      <!-- LOGOUT -->      
      <li class="align-right" ng-show="displayLogout">
        <a ng-click="logoutUser()">Logout</a>
      </li>
    </ul>
 </div>   
</nav>
  